<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis quam nisi, possimus laborum consequatur eum odio quasi, natus labore itaque ad nemo dolorem repudiandae at quibusdam culpa? Ducimus architecto delectus, nam, voluptatem voluptatum necessitatibus similique saepe cupiditate quod minus et.
        </p>
    </div>
</div>