<div class="jumbroton mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni asperiores doloribus quod itaque deserunt omnis, facilis voluptate. Dolore, illo. Numquam harum voluptatibus laudantium reiciendis quos quibusdam ut perspiciatis illum et.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab quis perferendis pariatur, accusantium, incidunt et quae corporis enim libero cumque sequi repellat facilis eveniet, est dolore saepe explicabo vitae impedit ex atque. Nam voluptates rem 
        consectetur, accusamus tempore in quos.</p>
    <a href="http://www.google.com" class="btn btn-primary btn-lg">Apas Labs</a>
</div>